@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Arimo&display=swap');

:root{
    --main-white-color: white;
    --main-purple-color: #9e89b8;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > *{
    padding: 10px;
    font-family: 'Akshar', sans-serif;
}

.page-main{
    flex-grow: 1;
}

.page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.page-header ul{
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.page-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    background: var(--main-purple-color) url(../img/page-main-img.jpg) no-repeat center / cover;
    background-blend-mode: luminosity;
}
.page-main div{
    max-width: 500px;
}

.page-footer{
    display: flex;
    flex-direction: column-reverse;
}
.page-footer ul{
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.page-header,
.page-footer,
.page-main .text-wrapper {
    overflow: hidden;
}

.page-header nav > *{
    transform: translateY(-100px);
}

.page-footer > *{
    transform: translateY(30px);
}

.page-header{
    position: relative;
}
.page-header::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--main-purple-color);
    z-index: 99999;
    transform: scaleX(0);
}

.page-main .text-wrapper +  .text-wrapper{
    margin-top: 10px;
}
.page-main .text-wrapper *{
    transform: translateY(-100%);
}
.page-main .p-wrapper{
    transform: translateY(50%);
}



.loaded .page-header::after{
    animation: scaleIn 1.3s ease-in 0.2s forwards;
}
@keyframes scaleIn {
    100% {
        transform: scaleX(1);
    }
}



.loaded .page-main {
    animation: fadeIn 1s ease-in 0.7s forwards;
  }
   
  .loaded .page-header nav > *,
  .loaded .page-footer > * {
    animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
  }
   
  @keyframes fadeIn {
    60% {
      opacity: 0;
    }
     
    100% {
      opacity: 1;
    }
  }
   
  @keyframes slideIn {
    100% {
      transform: translateY(0);
    }
  }



  .loaded .page-main .text-wrapper * {
    animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
  }
   
  @keyframes slideIn {
    100% {
      transform: translateY(0);
    }
  }







@media screen and (min-width: 550px) {
    .page-header ul{
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-content {
        order: 1;
    }

    .page-main{
        padding-left: 90px;
    }
    .page-footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .page-footer ul{
        margin-bottom: 0;
    }
}


#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.center span {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: txt 3s ease-in-out infinite;
}
@keyframes txt {
    50% {
        color: #000;
    }
}
.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}